.literal,
.unit {
  --rs-h-s: auto;
  --rs-h-m: var(--rs-h-s);
  --rs-h-l: var(--rs-h-m);
  --rs-h-xl: var(--rs-h-l);

  height: var(--rs-h);
}

.literal {
  --rs-h: var(--rs-h-s);
}

.unit {
  --rs-h: calc(var(--rs-h-s) * var(--rs-unit-x1));
}

@each $viewport in m, l, xl {
  @media (--rs-viewport-$viewport) {
    .literal--$viewport {
      --rs-h: var(--rs-h-$viewport);
    }

    .unit--$viewport {
      --rs-h: calc(var(--rs-h-$viewport) * var(--rs-unit-x1));
    }
  }
}
