.literal {
  width: var(--rs-w-s, auto);
}

.unit {
  width: calc(var(--rs-w-s) * var(--rs-unit-x1));
}

@each $viewport in m, l, xl {
  @media (--rs-viewport-$viewport) {
    .literal--$viewport {
      width: var(--rs-w-$viewport);
    }

    .unit--$viewport {
      width: calc(var(--rs-w-$viewport) * var(--rs-unit-x1));
    }
  }
}
