.root {
  /* Center svg in squared icon */
  display: flex;
  justify-content: center;
  aspect-ratio: 1;
}

.--auto {
  aspect-ratio: auto;
  justify-content: flex-start;
  width: auto;
}

.root svg {
  display: block;
  height: 100%;
  min-width: 100%;
}

@each $color in neutral, neutral-faded, primary, positive, critical, disabled {
  .--color-$(color) {
    color: var(--rs-color-foreground-$(color));
  }
}
