.content {
  max-width: 360px;
}

.content--variant-elevated {
  border-radius: var(--rs-unit-radius-medium);
  background: var(--rs-color-background-elevation-overlay);
  color: var(--rs-color-foreground-neutral);
  border: 1px solid var(--rs-color-border-neutral-faded);
  box-shadow: var(--rs-shadow-overlay);
  overflow: hidden;
  min-width: 220px;
}

.content.content--has-width {
  max-width: none;
  min-width: 0;
}

@media (--rs-viewport-s) {
  .content {
    max-width: none;
  }
}
