:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:#131313;
}

body.midnight {
  background-color: #001F3F; /* Deep blue for late night */
  color: #FFF;
}

body.dawn {
  background-color: #FFDC00; /* Golden yellow for dawn */
  color: #333;
}

body.morning {
  background-color: #7FDBFF; /* Light blue for morning */
  color: #333;
}

body.afternoon {
  background-color: #01FF70; /* Bright green for afternoon */
  color: #333;
}

body.dusk {
  background-color: #FF851B; /* Orange for sunset */
  color: #333;
}

body.night {
  background-color: #111; /* Dark gray for early night */
  color: #FFF;
}

p {
  margin-bottom: 12px !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
