.root {
  /* In case parent changes its color */
  transition: color var(--rs-duration-fast) var(--rs-easing-standard);
}

.--clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--rs-text-lines);
  overflow: hidden;
}

@responsive .--align {
  @value start {
    text-align: start;
  }

  @value center {
    text-align: center;
  }

  @value end {
    text-align: end;
  }
}

@responsive .--variant {
  @value title-1 {
    font-size: var(--rs-font-size-title-1);
    line-height: var(--rs-line-height-title-1);
    font-weight: var(--rs-font-weight-title-1);
    font-family: var(--rs-font-family-title-1);
  }

  @value title-2 {
    font-size: var(--rs-font-size-title-2);
    line-height: var(--rs-line-height-title-2);
    font-weight: var(--rs-font-weight-title-2);
    font-family: var(--rs-font-family-title-2);
  }

  @value title-3 {
    font-size: var(--rs-font-size-title-3);
    line-height: var(--rs-line-height-title-3);
    font-weight: var(--rs-font-weight-title-3);
    font-family: var(--rs-font-family-title-3);
  }

  @value title-4 {
    font-size: var(--rs-font-size-title-4);
    line-height: var(--rs-line-height-title-4);
    font-weight: var(--rs-font-weight-title-4);
    font-family: var(--rs-font-family-title-4);
  }

  @value title-5 {
    font-size: var(--rs-font-size-title-5);
    line-height: var(--rs-line-height-title-5);
    font-weight: var(--rs-font-weight-title-5);
    font-family: var(--rs-font-family-title-5);
  }

  @value title-6 {
    font-size: var(--rs-font-size-title-6);
    line-height: var(--rs-line-height-title-6);
    font-weight: var(--rs-font-weight-title-6);
    font-family: var(--rs-font-family-title-6);
  }

  @value featured-1 {
    font-size: var(--rs-font-size-featured-1);
    line-height: var(--rs-line-height-featured-1);
    font-weight: var(--rs-font-weight-featured-1);
    font-family: var(--rs-font-family-featured-1);
  }

  @value featured-2 {
    font-size: var(--rs-font-size-featured-2);
    line-height: var(--rs-line-height-featured-2);
    font-weight: var(--rs-font-weight-featured-2);
    font-family: var(--rs-font-family-featured-2);
  }

  @value featured-3 {
    font-size: var(--rs-font-size-featured-3);
    line-height: var(--rs-line-height-featured-3);
    font-weight: var(--rs-font-weight-featured-3);
    font-family: var(--rs-font-family-featured-3);
  }

  @value body-1 {
    font-size: var(--rs-font-size-body-1);
    line-height: var(--rs-line-height-body-1);
    font-weight: var(--rs-font-weight-body-1);
    font-family: var(--rs-font-family-body-1);
  }

  @value body-2 {
    font-size: var(--rs-font-size-body-2);
    line-height: var(--rs-line-height-body-2);
    font-weight: var(--rs-font-weight-body-2);
    font-family: var(--rs-font-family-body-2);
  }

  @value body-3 {
    font-size: var(--rs-font-size-body-3);
    line-height: var(--rs-line-height-body-3);
    font-weight: var(--rs-font-weight-body-3);
    font-family: var(--rs-font-family-body-3);
  }

  @value caption-1 {
    font-size: var(--rs-font-size-caption-1);
    line-height: var(--rs-line-height-caption-1);
    font-weight: var(--rs-font-weight-caption-1);
    font-family: var(--rs-font-family-caption-1);
  }

  @value caption-2 {
    font-size: var(--rs-font-size-caption-2);
    line-height: var(--rs-line-height-caption-2);
    font-weight: var(--rs-font-weight-caption-2);
    font-family: var(--rs-font-family-caption-2);
  }
}

@each $weight in regular, medium, bold {
  .--weight-$(weight) {
    font-weight: var(--rs-font-weight-$(weight)) !important;
  }
}

@each $color in neutral, neutral-faded, primary, positive, critical, disabled {
  .--color-$(color) {
    color: var(--rs-color-foreground-$(color));
  }
}

.--decoration-line-through {
  text-decoration: line-through;
}
